body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.addTaskContainer{
    display: none;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    width: 60%;
    height: 100%;/* Full height */
    overflow: auto;/* Enable scroll if needed */
    background-color: rgb(0, 0, 0);/* Fallback color */
    background-color: rgb(251, 254, 255);
    /* Black w/ opacity */
}
.createHeader{
    text-align: center;
    border: 0;
}
.addDivContent{
    position:relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    
   
}
.taskform{
    padding: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    border: 0;
   
}
.btnContainer{
    display: flex;
    margin: 0;
    justify-content: center;
}
.welcome2{
    text-align: center;
    border: 0;
}
.userHead{
    text-align: center;
    border: 0;
}
input[type=text],
input[type=date],
textarea
 {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: block;
    border: 1px solid;
    border-radius: 5px;
    background: #f1f1f1;
    align-content: center;
    display: block;
}

.head3{
   
    border: 0;
    padding: 0;
	margin-bottom: 1rem; 
    text-align: center;
}

.tasksListContainer{
    padding: 1rem;
    border: 0;
}
.tasks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
	padding: 1rem;
	border: 0;
	margin-bottom: 1rem; 
    gap: 5px;
}

.taskContent{
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    width: 200px;
}

.tasks .actions {
	display: flex;
	margin-bottom: 1rem;
    padding: 1rem;
    gap: 3px;
    border: 0;
}
.tasks .actions button {
	cursor: pointer;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
    width: 75px;
    height: 25px;
    
}
.addbtn{
    cursor: pointer;
    background-color: rgb(65, 160, 72);
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    font-weight: 700;
}
.addTask{
    cursor: pointer;
    background-color: rgb(65, 160, 72);
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    position: relative;
    display: block;
    margin : 0 auto;
}
.editbtn{
    background-color: rgb(77, 194, 244);
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}
.deletebtn{
    background-color: rgb(239, 30, 30);
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}
.tasks .actions button:hover {
	opacity: 0.8;
}

.tasks .actions button:active {
	opacity: 0.6;
}
.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: blue;
}